<router-outlet></router-outlet>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="">
  </head>
  <body>
    
    <div class="login-box">
        <h2>Iniciar Sesion</h2>
        <img src="https://yt3.ggpht.com/a/AGF-l79A9cjzQenkHUWo-myeHheaAkm8XZDBL2-HfA=s288-c-k-c0xffffffff-no-rj-mo" class="avatar" alt="Avatar Image">
      <form>
        <!-- USERNAME INPUT -->
        <label for="username">Usuario</label>
        <input type="text" placeholder="Ingrese su Usuario">
        <!-- PASSWORD INPUT -->
        <label for="password">Contraseña</label>
        <input type="password" placeholder="Ingrese su Contraseña">
        <input routerLinkActive = '["link-active"]' routerLink="/Adminitrador/principal" type="submit" value="Ingresar">
      </form>
    </div>
  </body>
</html>

