<br><br>

<div class = "container">
    
    <div class = "Titulo">
        <h1>Desactivar Docente</h1><br>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link">Digite la identificacion a buscar: <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-primary" type="submit">Buscar Docente</button>
            </form>
        </div>
    </nav>
    <br>
    <div>
        <h1>Datos Del Docente</h1><br>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationServer01">Identificacion</label>
            <input type="text" class="form-control" id="validationServer01" disabled>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationServer02">Nombre</label>
            <input type="text" class="form-control" id="validationServer02" disabled>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationServer02">Apellido</label>
            <input type="text" class="form-control" id="validationServer02" disabled>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="validationServer01">Cargo</label>
            <input type="text" class="form-control" id="validationServer01" disabled>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationServer02">Facultad</label>
            <input type="text" class="form-control" id="validationServer02" disabled>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-2 mb-3">
            <button class="btn btn-primary" type="submit">Desactivar Docente</button>
        </div>
        <div  class="col-md-2 mb-3">
            <button class="btn btn-primary" type="submit">Descartar</button>
        </div>
    </div> 
    <br><br>
</div>
<app-barra-de-navegacion></app-barra-de-navegacion>
