.Titulo {
    text-align: center;
    color: blue
  }

button{
    width: 150px;
}

label{
  color: rgb(12, 17, 61);
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

h1, a{
color: rgb(12, 17, 61)
}

button{
background-color:  rgb(12, 17, 61)
}

table{
  padding: 10px;
}


.table-container{
  overflow-x: auto;
}

th, td{
  padding: 10px;
}

a{
  padding: 10px;
  background-color: green;
}

