h1{
    text-align: center;
    color: blue
}

body{
    font-family: Arial, Helvetica, sans-serif;
  /* background: url(https://image.freepik.com/vector-gratis/bokeh-verde-naturaleza-fondo-brillante_293-192.jpg) no-repeat center top;*/
    background-image: url(../../../img/7.jpg) ;
    background-size: cover;
}